<h1>Professional Sports Team Reviews</h1>

<h3>Teams</h3>

<ul>
  <% @teams.each do |team| %>
    <li><%= link_to "#{team.location} #{team.name} (#{team.league})", team_path(team.id) %></li>
  <% end %>
</ul>
<%= paginate @teams %>

<% if user_signed_in? %>
  <p><%= link_to 'Add New Team', new_team_path %></p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to 'View Users', users_path %></p>
<% end %>
